---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sonarr

commonAnnotations:
  repo: https://github.com/charlesthomas/homelab-sonarr

resources:
- resources/deployments.yaml
- resources/external-secrets.yaml
- resources/ingresses.yaml
- resources/namespaces.yaml
- resources/pvcs.yaml
- resources/service-accounts.yaml
- resources/services.yaml
- resources/statefulsets.yaml

images:
  - name: postgres
    newTag: "14.15"
  - name: sonarr
    newName: ghcr.io/linuxserver/sonarr
    newTag: 4.0.16

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: all
      namespace: sonarr
      annotations:
        reloader.stakater.com/auto: "true"
  target:
    kind: Deployment
- patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: all
      namespace: sonarr
      annotations:
        reloader.stakater.com/auto: "true"
  target:
    kind: StatefulSet
- patch: |-
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: sonarr
      namespace: sonarr
      annotations:
        gethomepage.dev/href: https://sonarr.crt.house
        gethomepage.dev/enabled: "true"
        gethomepage.dev/description: TV Finder
        gethomepage.dev/group: "Media Management"
        gethomepage.dev/icon: sonarr
        gethomepage.dev/name: Sonarr
        gethomepage.dev/pod-selector: ""
  target:
    kind: Ingress
